/*---------------------------
	   RESET
---------------------------*/
*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option,button{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}
label{
	cursor: pointer;
}
/*---------------------------
	   Style 
---------------------------*/
body{
	background: #F3F3F3;
	overflow-y: scroll;
	font-family: 'Roboto Condensed', sans-serif;
}
body > h1{
	text-align: center;
	font-size: 24px;
	padding: 8px 0;
	color: #42A2DC;
	font-weight: bold;
	background: rgb(239, 239, 239);
	background: #F2F2F2;
	border-bottom: 3px solid rgb(233, 233, 233);
}
#wrapper-game{
	width: 420px;
	margin: 20px auto;
}

/*Field*/
#field{
	overflow: hidden;
	margin: 0 auto 10px;
	-moz-transform:rotate(-50deg);
	-webkit-transform:rotate(-50deg);
	transform:rotate(-10deg);
}
#field .cell{
	width: 80px;
	height: 80px;
	cursor: pointer;
	text-align: center;
	background: #FFF;
	border: 1px solid #F3F3F3;
	float: left;
}
#field .cell.there,
#field.endgame .cell{
	cursor: default;
}
#field .cell span{
	font-size: 64px;
	line-height: 74px;
}
#field .cell[data-mark="x"] span{
	color: #49AE3C;
}
#field .cell[data-mark="n"] span{
	font-size: 74px;
	font-weight: bold;
	color: #FF3C17;
	line-height: 66px;
}

/*Settings and Text*/
h3.whose-move{
	margin: 0 auto;
	margin-bottom: 4px;
	text-align: center;
	color: #636363;
}
#settings,
#stats-game{
	background: #F2F2F2;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border: 1px solid rgb(233, 233, 233);
	border-bottom-width: 2px;
}
#settings a,
.startgame{
	text-decoration: none;
	background: #FFF;
	display: inline-block;
	padding: 3px 10px;
	margin-right: 3px;
	color: #42A2DC;
	-moz-box-shadow: 0 1px 1px #D8D8D8;
    -webkit-box-shadow: 0 1px 1px #D8D8D8;
    box-shadow: 0 1px 1px #D8D8D8;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
#settings a.active,
.startgame:hover{
	background: #42A2DC;
	color: #FFF;
	-moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.startgame{
	width: 150px;
	text-align: center;
	margin: 0 auto;
	padding: 7px 10px;
	display: block;
}
#settings > div > h4,
.text-result{
	margin-bottom: 4px;
	color: #636363;
}
#settings-difficulty{
	margin-bottom: 5px;
}
#settings > h3{
	margin-bottom: 5px !important;
}
.text-result{
	text-align: center;
}
.text-result.text-defeat span{
	color: #FF3C17;
}
.text-result.text-victory span{
	color: #49AE3C;
}
.text-result.text-draw span{
	color: #000;
}

/*Stats*/
#stats-game{
	margin:20px 0;
	padding: 10px;
	overflow: hidden;
	border-bottom-width: 1px; 
}
#stats-game > div{
	overflow: hidden;
} 
#stats-game > div > h3,
#settings > h3{
	text-align: center;
	margin-bottom: 10px;
	padding: 2px 0;
	color: #636363;
	background: #ECECEC;
}
#stats-game > div > div{
	color: #FFF;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	float:left;
	width: 132px;
}
#stats-game .text-stats-all{
	background: #42A2DC;
	border-bottom: 2px solid #4599CB;
	float:none;
	width:100%;
	margin-bottom: 3px;
}
#stats-game .text-stats-win{
	background: #49AE3C;
	border-bottom: 2px solid #3FA432;
}
#stats-game .text-stats-defeat{
	background: #FF3C17;
	width: 134px;
	border-bottom: 2px solid #E33210;
}
#stats-game .text-stats-draw{
	background: #C0C0C0;
	border-bottom: 2px solid #B5B5B5;
}
#info-graph{
	margin-top: 10px;
	border-bottom: 1px solid #E0E0E0;
}
#info-graph #info-grid{
	background: #ECECEC;
	float: none;
	width: 100%;
	position: relative;
	padding-bottom: 0;
	margin-top: 20px;
	padding-top: 0;
}
#info-graph #info-grid > div{
	width: 155px !important;
	float: none !important;
	position: relative;
	margin: 0 auto;
	height: 150px;
	margin-top: 10px;
}
#info-graph #info-grid .line-x{
	position: absolute;
	width: 100%;
	text-align: left;
	margin-top: -1px;
	display: block;
	height: 1px;
	background: #E0E0E0;
}
#info-graph #info-grid .line-x-1{
	bottom: 0;
}
#info-graph #info-grid .line-x-2{
	bottom: 20%;
}
#info-graph #info-grid .line-x-3{
	bottom: 40%;
}
#info-graph #info-grid .line-x-4{
	bottom: 60%;
}
#info-graph #info-grid .line-x-5{
	bottom: 80%;
}
#info-graph #info-grid .line-x-6{
	bottom: 100%;
}
#info-graph  #info-grid > div > span{
	width: 45px;
	display: inline-block;
	vertical-align: bottom;
	border-bottom: 1px solid #FFF;
	position: absolute;
	bottom: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
#info-graph #info-grid > div .info-graph-line-1{
	left: 0;
	background: #49AE3C;
	border-bottom-color: #3FA432;
	-moz-box-shadow: -1px 0 #3FA432, -1px 1px #3FA432, -2px 1px #3FA432, -2px 2px #3FA432, -3px 2px #3FA432, -3px 3px #3FA432, -4px 3px #3FA432, -4px 4px #3FA432;
    -webkit-box-shadow: -1px 0 #3FA432, -1px 1px #3FA432, -2px 1px #3FA432, -2px 2px #3FA432, -3px 2px #3FA432, -3px 3px #3FA432, -4px 3px #3FA432, -4px 4px #3FA432;
    box-shadow: -1px 0 #3FA432, -1px 1px #3FA432, -2px 1px #3FA432, -2px 2px #3FA432, -3px 2px #3FA432, -3px 3px #3FA432, -4px 3px #3FA432, -4px 4px #3FA432;
}
#info-graph #info-grid > div .info-graph-line-2{
	left: 57px;
	background: #FF3C17;
	border-bottom-color: #E33210;
	-moz-box-shadow: -1px 0 #E33210, -1px 1px #E33210, -2px 1px #E33210, -2px 2px #E33210, -3px 2px #E33210, -3px 3px #E33210, -4px 3px #E33210, -4px 4px #E33210;
    -webkit-box-shadow: -1px 0 #E33210, -1px 1px #E33210, -2px 1px #E33210, -2px 2px #E33210, -3px 2px #E33210, -3px 3px #E33210, -4px 3px #E33210, -4px 4px #E33210;
    box-shadow: -1px 0 #E33210, -1px 1px #E33210, -2px 1px #E33210, -2px 2px #E33210, -3px 2px #E33210, -3px 3px #E33210, -4px 3px #E33210, -4px 4px #E33210;
}
#info-graph #info-grid > div .info-graph-line-3{
	left: 114px;
	background: #C0C0C0;
	border-bottom-color: #B5B5B5;
	-moz-box-shadow: -1px 0 #B5B5B5, -1px 1px #B5B5B5, -2px 1px #B5B5B5, -2px 2px #B5B5B5, -3px 2px #B5B5B5, -3px 3px #B5B5B5, -4px 3px #B5B5B5, -4px 4px #B5B5B5;
    -webkit-box-shadow: -1px 0 #B5B5B5, -1px 1px #B5B5B5, -2px 1px #B5B5B5, -2px 2px #B5B5B5, -3px 2px #B5B5B5, -3px 3px #B5B5B5, -4px 3px #B5B5B5, -4px 4px #B5B5B5;
    box-shadow: -1px 0 #B5B5B5, -1px 1px #B5B5B5, -2px 1px #B5B5B5, -2px 2px #B5B5B5, -3px 2px #B5B5B5, -3px 3px #B5B5B5, -4px 3px #B5B5B5, -4px 4px #B5B5B5;
}
#stats-game > #info-graph > h3{
	margin-top: 10px;
}
#info-graph #info-grid > div > span > span{
	margin-top: -20px;
	color: #000;
	display: block;
}
#info-graph #info-grid .line-x span{
	position: relative;
	top: -19px;
	color: #000;
	font-size: 12px;
	left: 3px;
}